<div
	class="topbar-container"
	ng-include="'views/includes/topbar.html'"
	ng-init="titleSection='Recover from backup'; goBackToState = true">
</div>

<div class="content preferences recovery-page" ng-controller="recoveryCtrl">
	<h4></h4>

	<div class="onGoingProcess" ng-show="importing">
		<div class="onGoingProcess-content" ng-style="{'background-color':index.backgroundColor}">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
			<span translate> Importing wallet... </span>
		</div>
	</div>

	<div class="box-notification" ng-show="error">
		<span class="text-warning">{{error}}</span>
	</div>

	<div>
		<form name="fRecoverFromBackup" class="columns"
			ng-submit="recoveryForm()">
			<label><span translate>Your Backup Wallet Seed:</span></label>
			<textarea id="inputMnemonic" autocomplete="off"
				ng-model="inputMnemonic" ng-disabled="importing"></textarea>
			<button type="button" class="button expand btn-choose-file"
				ng-click="openChooserFileModal()">Choose file</button>
			<div ng-if="file" class="selected-file-container">
				<div class="selected-file-name">{{file.name}}</div>
				<button class="button expand warning btn-clear-file" ng-click="clearFile()">x</button>
			</div>

			<input ng-disabled="isSubmitDisabled()" ng-show="!importing"
				ng-style="{'background-color':index.backgroundColor}"
				type="submit" class="button expand black round"
				value="{{'Recover'|translate}}">
		</form>
		<div class="text-alert size-12 columns">
			<span translate>WARNINGS:</span>
			<ul class="warnings">
				<li translate>This will permanently delete all your existing wallets!</li>
				<li translate>If you have moved this backup from another device, stop using it on the original one immediately after creating the backup.  Never clone wallets.  If you need access from several devices, use multisig.</li>
			</ul>
		</div>
	</div>

</div>
<div class="extra-margin-bottom"></div>

<style>
	.recovery-page .btn-choose-file {
		width: 100%;
	}
	.recovery-page .selected-file-container {
		width: 100%;
		word-break: break-all;
		display: flex;
		margin-bottom: 1.25rem;
	}
	.recovery-page .selected-file-container .selected-file-name {
		flex: 1;
	}
	.recovery-page .selected-file-container .btn-clear-file {
		width: 35px;
    height: 35px;
    padding: 5px;
    margin: 0;
	}
</style>