<nav class="tab-bar">
	<section class="left-small">
		<a ng-click="cancel()" class="p10">
			<span class="text-close" translate>Close</span>
		</a>
	</section>
</nav>

<div class="modal-content fix-modals-touch recovery-cloud-file-chooser-content" ng-switch="screenType">
  <h1 class="text-center" translate>Choose file from cloud</h1>
  <div class="loading-stub" ng-class="{'active': bLoading}">Loading...</div>
  <div class="row" ng-switch-when="cloud">

    <div class="columns" translate>
      Select cloud:
    </div>

    <ul class="no-bullet m0 columns">
      <li ng-repeat="(key, cloudStorage) in cloudStorages" class="listWitnesses">
        <div class="cloud-storages-item__title">{{cloudStorage.getTitle()}}</div>
        <div class="cloud-storages-item__account-holder" ng-if="cloudStorage.isAuthenticated()">
          <div class="cloud-storages-item__account-name">{{cloudStorage.getAccountName()}}</div>
        </div>
        <button ng-click="openCloudStorageFilesList(key)">Choose File</button>
      </li>
    </ul>

  </div>
  <div class="row" ng-switch-when="files">

      <div class="columns" translate>
        Select file:
      </div>
  
      <ul class="no-bullet m0 columns files-list">
        <li ng-repeat="file in chooseList" class="files-list-item column"
          ng-click="chooseFile(file.path_display)">
          <div class="cloud-storages-item__title">{{file.name}}</div>
        </li>
      </ul>
  
    </div>
</div>

<style>
  .recovery-cloud-file-chooser-content {
    position: relative;
  }
  .recovery-cloud-file-chooser-content .loading-stub {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);
  }
  .recovery-cloud-file-chooser-content .loading-stub.active {
    display: block;
  }
  .recovery-cloud-file-chooser-content .files-list {
    border-top: 1px solid black;
    padding: 0;
  }
  .recovery-cloud-file-chooser-content .files-list .files-list-item {
    border-bottom: 1px solid black;
  }
</style>